@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
.welcome {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-image: url("../assets/images/couple.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -300px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  color: #fff;
  transition: all 2s ease-in;
  opacity: 0;
  transform: translateY(-100%);
}
.welcome::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
  border-radius: 20px;
}
.welcome.active {
  transform: translateY(0);
  opacity: 1;
}
@media (max-width: 480px) {
  .welcome {
    background-position-y: unset;
  }
}
.welcome.hide {
  top: -100%;
  opacity: 0;
}

.welcome h2 {
  font-size: 2.4rem;
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
}

.welcome figure {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  flex-direction: inherit;
  margin: 1rem 0;
}

.welcome figure img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--shadow-md);
  border: 2px solid #fff;
}

.welcome figure figcaption {
  font-size: 35px;
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 0.5rem;
}

.welcome p span {
  font-size: 2rem;
  margin: 1rem 0;
  display: block;
}

.welcome button {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  gap: 0.4rem;
  color: #000;
  padding: 0.5rem 1rem;
  border: none;
  transition: var(--transition-small);
  border-radius: 15px;
  cursor: pointer;
}

.welcome button:hover {
  color: #fff;
  background-color: #000;
}

.welcome button i {
  font-size: 1.2rem;
}
